body {
    background: linear-gradient(90deg, #13131F 0%, #8257E6 600%);
    font-family: 'Comfortaa', cursive;
    margin: 0;
    text-decoration: none;
}

ul {
    list-style: none;
}

#checkbox-menu {
    display: none;
    visibility: hidden;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #8257E6;
    transition: 0.25s;
    margin: 30px 50px;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

header h2 {
    color: #eeeee4;
    display: flex;
    justify-content: center;
    margin: 8px;
    font-weight: bold;
}

header:after {
    content: '';
    display: block;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
}

main {
    margin-bottom: 48px;
}

.texto-intro {
    margin-top: 80px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 100px;
}

.conteudo h1 {
    color: #eeeee4;
    font-size: 40px;
    margin: 0;
}

.conteudo span {
    color: #8257E6;
    font-size: 38px;
}

.conteudo p {
    color: #708090;
}

.avatar {
    max-width: 350px;
    height: 400px;
    width: 101%;
    object-fit: contain;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

img:not(:hover) {
    transition: all 0.3s;
}

.botao-cv,
.botao-contato {
    background-color: #D968F9;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    box-shadow: 4px 2px 4px #848a8f5e;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eeeee4;
    margin-top: 50px;
    font-weight: bold;
    text-align: justify;
    margin-right: 21%;
    margin-left: 21%;
    line-height: 180%;
}

.sobre h3 {
    font-size: 30px;
}

.sobre p {
    color: #708090;
}

.sobre a:visited {
    color: #8257E6;
}

h3 {
    font-size: 30px;
    color: #eeeee4;
}

.box-contatos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: space-around;
    justify-content: center;
}

.box-contatos img {
    width: 100px;
    padding: 50px;
    border-radius: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    color: #708090;
}

body::-webkit-scrollbar {
    width: 25px;
}

body::-webkit-scrollbar-track {
    background: #261E40;
}

body::-webkit-scrollbar-thumb {
    background-color: #8257E6;
}